
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Lora:400,600|Poppins:300,400,500|Roboto:300);

/*Global Styles*/
body {
  font-family: "Lora", serif;
  font-weight: 400;
}

.navbar-brand img {
  width: 3.5em;
  height: auto;
}

ul {
  list-style: none;
  padding-left:0;
}

li {
  list-style-type: none;
}

@media screen and (max-width: 767px) {
  .portfolio {
    display: none;
  }
}

a {
  color: darkgray;
}

a:hover {
  text-decoration: none;
  color: darkorange;
  transition: 0.3s;
}

a:hover p, a:hover h1 {
  color: darkorange;
  transition: 0.3s;
}

h1, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0 0 20px
}

h6 {
  font-size: 20px;
}

p {
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 30px;
}

h2, h5 {
  color: darkorange;
  margin-bottom: 5px;
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 400;

}

hr {
  margin-left: -10px;
}

.page {
  float: right;
  display: inline-block;
}

.about {
  position: fixed;
}

@media screen and (max-width: 767px) {
  .about {
    position: static;
  }
}

.navbar-brand img {
  width: 3.5em;
  height: auto;
}

.footer {
    position: absolute;
    bottom: 0;
}