<div class="about col-lg-3 col-md-4 col-sm-4 col-xs-12" style="z-index: 10;">
        <a href="{{ site.url }}"><h1 style="margin-bottom: 5px; font-weight: 400; color: darkorange; margin-left: -2px; margin-top: 30px;">Hi, I'm Elaine.</h1>
        <p style="margin-bottom: 30px;">I'm a university student, front-end designer, and fintech enthusiast. I believe everyone should know how to invest.</p></a>
        <hr>
        <div class="portfolio">
        <h4>Get in touch with me.</h4>
        <ul>
                <li><a href="mailto:e.gao@queensu.ca"><p>Email</p></a></li>
                <li><a href="https://twitter.com/elaineygao"><p style="margin-bottom: 30px;">Twitter</p></a></li>
                </ul>
        <hr>
        <h4>I write about:</h4>
        {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign sortedTags = site_tags | split:',' | sort %}
        <ul class="tag-cloud">
           {% for tag in sortedTags %}
               <li><a href="{{ site.baseurl }}/tags/index.html#{{ tag | cgi_escape }}"><p style="margin-bottom: 0;">{{ tag }} [{{ site.tags[tag].size }}]</p></a></li>
           {% endfor %}
       </ul>
      </div>
      </div>
